* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.navbar-brand:hover{
  color: black;
}
.container-plant {
  max-width: 1380px; /* Adjust according to your design */
  margin: 0 auto; /* Center the container */ /* Add some padding */
  text-align: center;
}
.pro{
  background-color: white;
  padding: 20px;
  border-radius: 50%;
}
.pro:hover{
  background-color: black;
}
h1 {
  text-align: center;
  color: #2e6d4d; /* Greenish color */
  margin-bottom: 20px;
}
.round_img_div{
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}

.navbars {
  background-color: #2e6d4d; /* Greenish color for navbar */
  padding: 25px; /* Add some padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.navbar-brand {
  font-size: 2.0rem;
  font-weight: bold;
  color: #fff; /* White color for text */
  text-decoration: none;
}

.navbar-navs {
  list-style: none;
  display: flex;
  gap: 10px;
}
.navbar-navs li{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-navs li a{
  text-decoration: none;
}
.nav-item {
  margin-right: 20px;
}

.nav-link {
  font-size: 18px;
  text-decoration: none;
  color: #fff; /* White color for text */
  font-weight: bold;
  transition: color 0.3s ease;
  margin-right: 5px;
}

.nav-link:hover {
  color: black; /* Pink color on hover */
}

.logout-btn,.create{
  margin-right: 15px;
  text-decoration: none;
  background-color: #ffffff;
  color: black;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.logout-btn:hover {
  background-color:black;
  color: white;
}
.create:hover{
  background-color:black;
  color: white;
}
h2{
  text-align: center;
}
.container {
  max-width: 1300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-info h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.profile-info p {
  margin: 5px 0;
  color: #666;
}
.edit-btn-div{
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
}
.bold{
  font-weight: bolder;
}
.edit-btn{
  height: 30px;
  cursor: pointer;
}
.post-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.post-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}
.delete-post-btn,.edit-post-btn{
  margin-bottom: 20px;
  display: block;
  background-color: #2e6d4d; 
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

}
.label{
  font-size: 30px;
  margin-bottom: 50px;
}
.post {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.image-container{
  height: 320px;
  width: 100%;
  display: flex;
  align-items: center;
}
.image-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.post_head {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.user_name {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 0;
}
i{
  font-size: 35px;
}
.content {
  margin-top: 10px;
  padding: 0 10px;
}
.btn{
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  background-color: #2e6d4d; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
